In [1]:
import pandas as pd
import numpy  as np

In [18]:
import pandas as pd

# ======================
# 1. Extract (Load data)
# ======================
df = pd.read_csv(r"C:\Users\moham\OneDrive\سطح المكتب\archive (1)\retail_sales_dataset.csv")
print(df.info())
print(df.head())

# ======================
# 2. Transform (Clean & Prepare data)
# ======================

# (A) Drop rows with missing Transaction_ID or Date
df = df.dropna(subset=["Transaction_ID", "Date"])

# (B) Handle missing values in other columns
if "Customer_ID" in df.columns:
    df["Customer_ID"] = df["Customer_ID"].fillna("Unknown")

if "Product_Category" in df.columns:
    df["Product_Category"] = df["Product_Category"].fillna("Other")

# (C) Convert Date column to proper datetime format
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

# (D) Drop rows where Date could not be parsed
df = df.dropna(subset=["Date"])

# (E) Remove duplicate rows
df = df.drop_duplicates()

# (F) Format text values (e.g., categories)
if "Product_Category" in df.columns:
    df["Product_Category"] = df["Product_Category"].str.title()

# (G) Create new column Revenue if not already exists
if "Total_Amount" not in df.columns:
    df["Total_Amount"] = df["Quantity"] * df["Price"]

# Delete all columns that start with "Unnamed"
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
# ======================
# 3. Load (Save clean data)
# ======================
df.to_csv(r"D:\data analsis\retail_sales_clean.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price             1000 non-null   int64
 8   Unnamed: 8        0 non-null      float64
 9   Unnamed: 9        0 non-null      float64
 10  Unnamed: 10       1 non-null      object
dtypes: float64(2), int64(4), object(5)
memory usage: 86.1+ KB
None
   Transaction_ID        Date Customer ID  Gender  Age Product Category  \
0               1  11/24/2023     CUST001    Male   34           Beauty
1               2   2/27/2023     CUST002  Female   26         Clothing
2               3   1/13/2023     CUST003    Male   50      Electronics
3               4   5/21/2023     CUST004    Male   37         Clothing
4               5    5/6/2023     CUST005    Male   30           Beauty

   Quantity  Price  Unnamed: 8  Unnamed: 9 Unnamed: 10
0         3     50         NaN         NaN         NaN
1         2    500         NaN         NaN         NaN
2         1     30         NaN         NaN         NaN
3         1    500         NaN         NaN         NaN
4         2     50         NaN         NaN         NaN